:root {
  /* color */
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #7b7979;
  --orange-color: #bf7b69;

  /* typo */
  --title-font: "IBM Plex Mono", monospace;
  --font-weight-title: 400;
  --text-font: "IBM Plex Sans", sans-serif;
  --font-weight-text: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-color);
  margin-left: 10%;
  margin-right: 10%;
}

.msgErr {
  font-family: var(--title-font);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
