:root {
  /* color */
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #929292;

  /* typo */
  --title-font: "IBM Plex Mono", monospace;
  --font-weight-title: 400;
  --text-font: "IBM Plex Sans", sans-serif;
  --font-weight-text: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-color);
  margin-left: 10%;
  margin-right: 10%;
}
