.artistlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .artistlist {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .artistlist {
    grid-template-columns: 1fr 1fr;
  }
}
