.hautHome {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 42px;
}
.divH1-btn {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.titreHome {
  color: var(--white-color);
  font-size: 36px;
  font-family: var(--text-font);
  font-weight: 400;
}

.addBtn {
  color: var(--white-color);
  background-color: transparent;
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 200;
  padding: 8px 54px;
  border: 1px solid var(--white-color);
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s
    ease;
}

.addBtn:hover {
  background-color: white;
  color: black;
  border-color: black;
}

@media screen and (max-width: 768px) {
  .divH1-btn {
    align-items: center;
  }
}
