.connexion-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1564399580075-5dfe19c205f3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  backdrop-filter: blur(8px);
  padding: 2.5rem;
  color: white;
  width: 90%;
  max-width: 500px;
}

.login h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: var(--title-font);
  font-weight: 400;
  color: var(--white-color);
}

.login h2 {
  font-size: 1rem;
  margin: 1.5rem 0 0.5rem;
  font-family: var(--text-font);
  font-weight: 400;
  color: var(--white-color);
}

.loginInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-login {
  color: grey;
  background-color: transparent;
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 200;
  padding: 8px 54px;
  border: 1px solid var(--white-color);
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s
    ease;
}

.btn-login:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.seco {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-seco {
  text-decoration: none;
  color: grey;
  background-color: transparent;
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 200;
  padding: 8px 54px;
  border: 1px solid var(--white-color);
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s
    ease;
}

.btn-seco:hover {
  background-color: white;
  color: black;
  border-color: black;
}
