.sectionCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 0px 20px 0px;
  border-top: solid var(--grey-color) 1px;
}

.divUser {
  display: flex;
  align-items: center;
  gap: 12px;
}

.divImgUser {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* ⛔️ empêchera l'image de dépasser */
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 100px;
}

.imgUser {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;

  position: absolute; /* nécessaire pour pouvoir la déplacer/centrer */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divImg {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

.divInfoCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.divLike {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.textPetit,
.datePost,
.textPicto,
.descArtwork {
  color: var(--white-color);
  font-size: 16px;
  font-family: var(--text-font);
  font-weight: 100;
}

.spanUser {
  font-weight: 500;
}

.divCard {
  display: flex;
  gap: 40px;
}

.imgArt {
  width: 45vw;
}

.btnLike {
  background: none;
  border: none;
  cursor: pointer;
}

.pictoLike,
.pictoComment {
  height: 20px;
  width: auto;
}

.infoCard {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.firstDivCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titreArtwork,
.titreArtist,
.infoArtwork,
.mvtArtwork {
  color: var(--white-color);
  font-family: var(--title-font);
}

.titreArtwork {
  font-size: 36px;
  font-weight: 400;
}

.titreArtist {
  font-size: 20px;
  font-weight: 400;
}

.divMvt {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.mvtArtwork {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid white;
  font-size: 12px;
  color: white;
  background-color: transparent;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s
    ease;
}

.mvtArtwork:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.infoArtwork,
.mvtArtwork {
  font-size: 12px;
}

.saveArtwork {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  background-color: black;
  box-decoration-break: none;
  cursor: pointer;
}

.divDescArtwork {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textPlus {
  text-decoration: none;
  color: inherit;
  color: var(--white-color);
  background-color: transparent;
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 200;
  padding: 8px 54px;
  border: 1px solid var(--white-color);
  display: inline-block;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s
    ease;
}

.textPlus:hover {
  background-color: white;
  color: black;
  border-color: black;
}

@media screen and (max-width: 768px) {
  .divCard {
    flex-direction: column;
  }

  .divImg {
    align-items: flex-start;
  }

  .imgArt {
    width: 80vw;
  }

  .firstDivCard {
    align-items: center;
  }

  .divDescArtwork {
    align-items: center;
  }

  .titreArtwork {
    font-size: 28px;
  }
}
