.divListBisArt {
  column-count: 3;
  column-gap: 20px;
}
.cardArt {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--white-color);
  overflow: hidden;
  background-color: #000; /* si tu veux du contraste */
  position: relative;
}

/* DIV EN HAUT : AVEC DÉGRADÉ DE HAUT EN BAS */
.divUserCard {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 8px 8px 8px;
}

.divUserCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1),
    transparent
  );
  z-index: -1;
}

.divImgUserCard {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* ⛔️ empêchera l'image de dépasser */
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 100px;
}

.imgUserCard {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;

  position: absolute; /* nécessaire pour pouvoir la déplacer/centrer */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textPetitCard {
  color: var(--white-color);
  font-size: 14px;
  font-family: var(--text-font);
  font-weight: 100;
}

.spanUserCard {
  font-weight: 500;
}

.heurePost {
  color: var(--white-color);
  font-size: 14px;
  font-family: var(--text-font);
  font-weight: 100;
}

/* DIV EN BAS : AVEC DÉGRADÉ DE BAS EN HAUT */
.infoCardBis {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 6px;
  padding: 20px 20px 20px 20px;
}

.infoCardBis div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoCardBis::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3),
    transparent
  );
  z-index: -1;
}

.nameArtworkBis {
  color: var(--white-color);
  font-size: 20px;
  font-family: var(--text-font);
  font-weight: 600;
}

.nameArtistCard {
  color: var(--white-color);
  font-size: 16px;
  font-family: var(--text-font);
  font-weight: 300;
}

.dateArtCard {
  color: var(--grey-color);
  font-size: 16px;
  font-family: var(--text-font);
  font-weight: 300;
}

/* IMAGE EN FOND */
.imgCardBis {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  position: static; /* ⛔️ Surtout pas absolute ici */
}

@media (max-width: 768px) {
  .DivListBisArt {
    column-count: 1;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .DivListBisArt {
    column-count: 2;
  }
}
